<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <add name="CNX_WIN" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=EXAMEN_DES_APP_ULT_GEN; 
                          Integrated Security=True;"/>


    <add name="CNX_SQL" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=EXAMEN_DES_APP_ULT_GEN; 
                          Persist Security Info=True;
                          User ID=sa;
                          Password=12345;"/>

  </connectionStrings>
  <appSettings>
    <!--Inicio Validaciones de credenciales y permisos-->
    <add key="SP_LogIn_Usuarios" value="dbo.USP_InicioSesion_Usuarios"/>
    <add key="SP_LST_ModulosXUsuario" value="dbo.USP_Listar_ModulosXUsuario" />
    <add key="SP_CierraSesion_Usuarios" value="dbo.USP_CierraSesion_Usuarios"/>
    <!--Fin Validaciones de credenciales y permisos-->

    <!--Inicio Funciones CRUD Fabricantes-->
    <add key="SP_LST_Fabricantes" value="dbo.USP_Listar_Fabricantes" />
    <add key="SP_FILL_Fabricantes" value="dbo.USP_Filtrar_Fabricantes" />
    <add key="SP_INFO_Fabricantes" value="dbo.USP_Informacion_Fabricantes" />
    <add key="SP_Elim_Fabricantes" value="dbo.USP_Eliminar_Fabricantes"/>
    <add key="SP_Insert_Fabricantes" value="dbo.USP_Insertar_Fabricantes"/>
    <add key="SP_Update_Fabricantes" value="dbo.USP_Modificar_Fabricantes"/>
    <!--FIN Funciones CRUD Fabricantes-->

    <!--Inicio Funciones CRUD Usuarios-->
    <add key="SP_LST_Usuarios" value="dbo.USP_Listar_Usuarios" />
    <add key="SP_FILL_Usuarios" value="dbo.USP_Filtrar_Usuarios" />
    <add key="SP_INFO_Usuarios" value="dbo.USP_Informacion_Usuarios" />
    <add key="SP_Elim_Usuarios" value="dbo.USP_Eliminar_Usuarios"/>
    <add key="SP_Insert_Usuarios" value="dbo.USP_Insertar_Usuarios"/>
    <add key="SP_Update_Usuarios" value="dbo.USP_Modificar_Usuarios"/>

    <add key="SP_LST_Modulos" value="dbo.USP_Listar_Modulos" />
    <add key="SP_Insert_ModulosXUsuario" value="dbo.USP_Insertar_ModulosXUsuario"/>
    <add key="SP_Elim_ModulosXUsuario" value="dbo.USP_Eliminar_ModulosXUsuario"/>
    <!--FIN Funciones CRUD Usuarios-->

    <!--Inicio Funciones CRUD Vehiculos-->
    <add key="SP_LST_Vehiculos" value="dbo.USP_Listar_Vehiculos" />
    <add key="SP_FILL_Vehiculos" value="dbo.USP_Filtrar_Vehiculos" />
    <add key="SP_INFO_Vehiculos" value="dbo.USP_Informacion_Vehiculos" />
    <add key="SP_Elim_Vehiculos" value="dbo.USP_Eliminar_Vehiculos"/>
    <add key="SP_Insert_Vehiculos" value="dbo.USP_Insertar_Vehiculos"/>
    <add key="SP_Update_Vehiculos" value="dbo.USP_Modificar_Vehiculos"/>
    <add key="SP_LST_Extras" value="dbo.USP_Listar_Extras" />
    <add key="SP_LST_ExtrasXVehiculo" value="dbo.USP_Listar_Extras_X_Vehiculo" />
    <add key="SP_MANT_ExtrasXVehiculo" value="dbo.USP_Mantenimiento_Extras_X_Vehiculo"/>
    <!--FIN Funciones CRUD Vehiculos-->

    <!--Inicio Funciones CRUD Auditoría-->
    <add key="SP_FILL_Auditoria" value="dbo.USP_Filtrar_Auditoria" />
    <!--FIN Funciones CRUD Auditoría-->

    <!--Inicio Funciones CRUD Gráficos-->
    <add key="SP_LST_Grafico_Tablas" value="dbo.USP_Listar_Grafico_Tablas" />
    <add key="SP_LST_Cantidad_VehiculosXFabricante" value="dbo.USP_Listar_Cantidad_VehiculosXFabricante" />
    <!--FIN Funciones CRUD Gráficos-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>